<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

<body>
    <div class="wrapper">
        <header class="wrapper-header">
            {% include header.html %}
            
            <!-- <img src="harrison_headshot.png" alt="Harrison" class="profile-pic"> -->
            <!-- <img src="harrison2-square.jpg" alt="Harrison" class="profile-pic"> -->
            
            
        </header>
        
        <main class="wrapper-main">
            <div class="main-content">
            {{ content }}
            </div>
        </main>
    </div>

    <footer class="wrapper-footer">
        {% include footer.html %}
    </footer>
</body>
</html>
